<%= form_with(model: famous_person) do |form| %>
  <% if famous_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(famous_person.errors.count, "error") %> prohibited this famous_person from being saved:</h2>

      <ul>
      <% famous_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <!-- Country -->
    <%= label_tag :country %>
    <%= select_tag :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ) %>
  </div>

  <div class="field">
    <!-- State -->
    <%= label_tag :state %>
    <%= select_tag :state, options_for_select([]) %>
  </div>

  <div class="field">
    <!-- City -->
    <%= form.label :hometown %>
    <%= form.select :hometown, options_for_select([]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
